name: frontend1
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^0.13.6
  flutter_dotenv: ^5.2.1
  qr_flutter: ^4.1.0
  shared_preferences: ^2.2.2
  webview_flutter: ^4.11.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/images/
    - assets/images/Gestures/
    - assets/icons/

#   fonts:
#     - family: Pretendard
#       fonts:
#         - asset: lib/src/assets/fonts/Pretendard-Regular.ttf
